@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

body {
    background: #efefef;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f9800;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo h1 {
    font-size: 30px;
    margin-right: 50px;
    color: white;
}

.nav-left,  .nav-right{
    display: flex;
    align-items: center;
}

.nav-left ul {
    display: flex;
    align-items: center;
}

.nav-left ul li {
    list-style: none;
}

.nav-left ul li img {
    width: 28px;
    margin: 0 15px;
    cursor: pointer;
}
.nav-user-icon img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover; 
}
.nav-user-icon{
    margin-left: 30px;
    margin-top: 5px;

}
.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box img{
    width: 18px; 
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
.container{
    background-color: #e1e1e1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 20px; /* controla a distância entre as colunas */
    padding: 15px 5%;
}
.left-sidebar {
    flex: none;
    width: 200px; /* tamanho fixo */
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.right-sidebar{
    background-color: #ffffff;
    flex: none;
    width: 500px;       /* largura reduzida e fixa */
    position: sticky;
    top: 70px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 4px;
}
.main-content{
    flex: 1;            /* ocupa todo o espaço restante */
    max-width: 900px;   /* mais largo que antes (era 700px) */
    margin: 0;  

}
.imp-links a,
.shortcut-links a,
i {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
    transition: color 0.3s;
    cursor: pointer;
}

/* Quando o usuário passa o mouse */
.imp-links a:hover,
.shortcut-links a:hover {
    color: #35e247; /* verde no hover */
}

/* Quando o usuário clica e o item fica ativo */
.imp-links a.ativo,
.shortcut-links a.ativo {
    color: #35e247; 
    font-weight: 600;
}

.imp-links a img, i{
    width: 25px;
    margin-right: 15px;
}
.imp-links a:last-child, i{
    color: #27df39;
}
.imp-links, i{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img, i{
    width: 30px;
    margin-right: 15px;
}
.shortcut-links p, i{
    margin: 25px 0;
    color: #626262;
    font-weight: 900;
}
.sidebar-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-titulo h4{
    font-weight: 600;
    font-size: 16px;
    font-family: 'Inter', sans-serif;;
}
.sidebar-titulo a{
    text-decoration: none;
    color: #0f9800;
    font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 75px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p{
    font-size: 12px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #41db51;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #41db51;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}
.sidebar-text{
    font-size: 12px;
    color: #626262;
    margin-top: -15px;      /* afasta do topo da imagem */
    margin-bottom: 8px;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;
}
.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online::after{
    top: unset;
    bottom: 5px;
}
.conteudo-post{
    width: 100%;
    background: #ffffff;
    border-radius: 6px;
    padding: 20px;
}
.perfil-usuario{
    display: flex;
    align-items: center;
}
.perfil-usuario img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover; /*imagem fica cortada certinha p n destorcer*/
}
.perfil-usuario p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.perfil-usuario small{
    font-size: 12px;
}

.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}

.post-btn {
    background: #0f9800;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    margin-top: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    display: block; /* garante que não fique espremido */
    margin-left: auto;
}

.post-btn:hover {
    background: #41db51;
}
.post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.perfil-usuario span{
    font-size: 13px;
    color: #626262;
}
.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}
.post-text2{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}
.post-text2 a{
    color: #1876f2;
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons-atividade div i{
    width: 18px;
    margin-right: 10px;
}
.icons-atividade div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.config-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}
.config-menu-height{
    max-height: 450px;
}
.perfil-usuario a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    font-size: 13px;
}
.config-menu-inner{
    padding: 20px;

}
.config-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.config-links{
    display: flex;
    align-items: center;
    margin: 2px 0;
}
.config-links .config-icon{
    width: 38px;
    margin-right: 15px;
    border-radius: 50%;
}
.config-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;

}

/*------ Post ------ */
.post {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 12px;
  margin-top: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  font-family: "Poppins", sans-serif;
}
.post-imagem {
  width: 100%;
  max-height: 400px;
  border-radius: 10px;
  margin-top: 10px;
  object-fit: cover;
}


.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.foto-perfil {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.post-info {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.post-info .nome {
  font-weight: 600;
  font-size: 15px;
  color: #000;
}

.post-info .usuario {
  font-size: 14px;
  color: #555;
}

.conteudo {
  margin-top: 10px;
  font-size: 15px;
  color: #111;
  white-space: pre-wrap;
}

.data {
  margin-top: 6px;
  font-size: 13px;
  color: #777;
}
.post-menu {
  position: relative;
  margin-left: auto;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #000000;
}

.menu-opcoes {
  
  display: none;
  position: absolute;
  right: 0;
  top: 25px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(255, 3, 3, 0.1);
  z-index: 10;
}

.menu-opcoes.ativo {
  display: block;
}

.menu-opcoes button {
  color: red;
  display: block;
  width: 100%;
  padding: 8px 15px;
  border: none;
  background: white;
  cursor: pointer;
  text-align: left;
}

.menu-opcoes button:hover {
  background: #f5f5f5;
} /* POP UP barra de pesuisa*/
#resultsDiv {
  position: absolute;
  top: 55px; /* distância abaixo da barra de pesquisa */
  right: 0;
  width: 350px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  max-height: 300px;
  display: none; /* começa escondido */
  z-index: 1000;
}

/* cada item do resultado */
.result-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.result-item:hover {
  background: #f2f2f2;
}

.result-item img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.result-item span {
  font-size: 14px;
  color: #333;
}


