/* === ESTILOS GERAIS === */
body {
    font-family: "Arial", sans-serif;
    background-color: #efefef;
    margin: 0;
    padding: 0;
  }
  
  /* === CABEÇALHO === */
  .header {
    background: linear-gradient(90deg, #fff, #a1ebc0, #58EF7B, #2BA848, #0D7826); /*gradiente horizontal do branco ao verde escuro */
    text-align: center;
    padding: 35px;
    color: #004b22;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2em;
    letter-spacing: 1px;
  }
  
  .header p {
    margin: 5px 0 0;
    font-weight: 500;
  }
  
  /* === CONTAINER === */
  .container {
    max-width: 700px;
    margin: 30px auto;
    padding: 0 20px;
  }

  #central{
    margin-left:50px;
    font-size: 20px;
    color:black;
  }
  
  /* === BOTÕES === */
  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
  }
  
  .btn {
    background: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    font-weight: bold;
    font-size: 1em;
   
  }
  
 
  
  
  
  /* === LISTA DE NOTIFICAÇÕES === */
  .notificacoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .notificacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
  }
  
  
  
  .perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .texto {
    flex: 1;
    margin-left: 10px;
  }
  
  .nome {
    color: #1aa54a;
    font-weight: 600;
  }
  
  .tempo {
    display: block;
    font-size: 0.8em;
    color: #999;
  }
  
  .thumb {
    width: 60px;
    height: 40px;
    border-radius: 8px;
    object-fit: cover;
  }

  #seguidor1{
    width: 50px;
    height: 50px;

  }


  #seguirP{
    width: 150px;
    height: 30px;
    background-color: #1aa54a;
    border-radius: 10px;
    color:white;
    display: flex;
    align-items: center;   
    justify-content: center; 
    text-align: center;   

  }