* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f0f2f5;
    min-height: 100vh;
}

nav {
    width: 100%;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
    height: 70px;
    background: #0f9800;
    display: flex;
    align-items: center;
    justify-content: space-between; /* logo esquerda, itens direita */
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: white;
}



.nav-left {
    display: flex;
    align-items: center;
    gap: 15px; /* espaçamento entre logo e notificação */
}

.logo {
    font-size: 30px;
}

.nav-left ul {
    display: flex;
    align-items: center;
}

.nav-left ul li {
    list-style: none;
}

.nav-left ul li img {
    width: 25px; /* reduzindo o tamanho da notificação */
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px; /* distância entre search e foto do usuário */
}

.nav-user-icon img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.search-box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img {
    width: 18px; 
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
    margin-top: 90px; /* para não ficar atrás do nav */
    
}

.left-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    
}

.right-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}

.main-content {
    flex-basis: 47%;
}

.imp-links a, .shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.imp-links a img {
    width: 25px;
    margin-right: 15px;
}

.imp-links a:last-child {
    color: #41db51;
}

.imp-links {
    border-bottom: 1px solid #ccc;
    width: 15vw;
}

.shortcut-links a img {
    width: 30px;
    margin-right: 15px;
}

.shortcut-links p {
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}

#container-meio {
    background-color: white;
    width: 100vw;
    max-width: 45vw;
    height: 25vh;
    border-radius: 10px;
    
}

.usuario-foto img{
    width: 10vw;
    height: 20vh;
    margin-top: 15%;
    padding: 2%;
    border-radius: 50%;
}

#container-direita{
    background-color: white;
    width: 18vw;
    height: 80vh;
    margin-top: 0%;
    border-radius: 10px;
}

#container-baixo {
    text-align: center;
    position: relative;
    top: -30vh; /* empurra para cima */
    padding: 0;
}
.foto img {
    width: 100px;
    height: 150px;
    width: 150px;
    
}